<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Three</title>
    <meta name="测试平台" content="供内部app测试使用的模拟第三方平台">
    <meta name="Hovace" content="Three">

    <meta name="viewport" content="width=800, user-scalable=no">
        <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/loading.css">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/jquery.qrcode.min.js"></script>
    <script type="text/javascript" src="/static/js/loading.js"></script>
</head>
<body>
<div class="meny">
    <h2>The third party</h2>
    <ul>
        <li><a title="主页" href="/">主页</a></li>
        <li><a title="登录" href="/api/passport/signin/">登录</a></li>
        <li><a title="注册" href="/api/passport/signup/">注册</a></li>
        <li><a title="支付" href="/api/passport/payment/">支付</a></li>
        <li><a title="收货" href="/api/passport/receive/">收货</a></li>
        <li><a title="退货" href="/api/passport/refunds/">退货</a></li>
        <li><a title="商品列表" href="/api/passport/list/">商品列表</a></li>
        <li><a title="用户" href="/api/passport/users/">用户列表</a></li>
        <li><a title="订单" href="/api/passport/oderslist/">订单列表</a></li>
    </ul>
</div>


{#<nav>#}
{#    <span><a title="主页" href="/">home</a></span>#}
{#    <span><a title="登录" href="/api/passport/signin/">登录</a></span>#}
{#    <span><a title="注册" href="/api/passport/signup/">注册</a></span>#}
{#    <span><a title="支付" href="/api/passport/payment/">支付</a></span>#}
{#    <span><a title="收货" href="/api/passport/receive/">收货</a></span>#}
{#    <span><a title="退货" href="/api/passport/refunds/">退货</a></span>#}
{#    <span><a title="商品列表" href="/api/passport/list/">商品列表</a></span>#}
{#    <span><a title="用户" href="/api/passport/users/">用户列表</a></span>#}
{#    <span><a title="订单" href="/api/passport/oderslist/">订单列表</a></span>#}
{#</nav>#}
{##}
<div id="loading" class="loading">
    <section>
        <div class="loader loader-20">
            <div class="css-diamond"></div>
        </div>
    </section>
</div>
{##}
{#<article>#}
{#    <br>#}