{% include 'header.html' %}

<div class="meny-arrow"></div>
<div class="contents">
    <div id="code"></div>
    <button id="butSub" class="butSub">发送收货请求</button>
</div>



<script src="/static/js/createMeny.js"></script>
<script type="text/javascript">


    $(function () {

        $('.butSub').click(function () {

            $.ajax({
                type: 'POST',
                url: '/push/',
                data: {data: '{{ data | safe }}'},
                success: function (result) {
                    $('#code').html('请求状态码为：'+result.errors+'<br>请求日志为:'+result.detail)
                },
                error:function(){
                    $('#code').html('本地服务崩溃')
                }
            });

        })
    });


</script>


{% include 'footer.html' %}